[build-system]
build-backend = "setuptools.build_meta"
requires = ["setuptools>=61.0", "setuptools-scm"]

[project]
dependencies = [
  "boto3==1.24.*",
  "python-vlc==3.*",
  "pyqt5==5.15.*",
  "python-xlib==0.31",
]
name = "cracker"
readme = "README.md"
dynamic = ["version"]

[project.gui-scripts]
cracker = "cracker.main:main"

[project.optional-dependencies]
dev = ["black", "isort", "pycodestyle"]
build = ["setuptools>=61", "build", "twine"]

[tool.setuptools]
packages = ["cracker"]

[tool.setuptools.dynamic]
version = {attr = "cracker.__version__"}

[tool.isort]
line_length = 120
