[Desktop Entry]
Name=Cracker
GenericName=Cracker for Polly
GenericName[pl]=Cracker for Polly
Comment=Graphical interface for text-to-speech
TryExec=cracker
Exec=cracker
Terminal=false
Type=Application
Keywords=Text;Reader;
Icon=~/.local/share/icons/cracker.png
Categories=Utility;
StartupNotify=true
